
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="inner-section single-banner" style="background: url(~/content/images/single-banner.jpg) no-repeat center;">
    <div class="container">
        <h2>blog Standard</h2>
       
    </div>
</section>
<section class="inner-section blog-standard">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top-filter">
                            <div class="filter-show">
                                <label class="filter-label">Show :</label>
                                <select class="form-select filter-select">
                                    <option value="1">12</option>
                                    <option value="2">24</option>
                                    <option value="3">36</option>
                                </select>
                            </div>
                            <div class="filter-short">
                                <label class="filter-label">Short by :</label>
                                <select class="form-select filter-select">
                                    <option selected>default</option>
                                    <option value="3">recent</option>
                                    <option value="1">featured</option>
                                    <option value="2">recommend</option>
                                </select>
                            </div>
                            <div class="filter-action">
                                <a href="blog-grid.html" title="Two Column"><i class="fas fa-th-large"></i></a><a href="blog-standard.html" class="active" title="One Column"><i class="fas fa-th-list"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="blog-card">
                            <div class="blog-media">
                                <a class="blog-img" href="#"><img src="~/content/images/blog/01.jpg" alt="blog" /></a>
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><i class="icofont-ui-calendar"></i><span>february 02, 2022</span></li>
                                    <li><i class="icofont-user-alt-3"></i><span>Miron mahmud</span></li>
                                    <li><i class="icofont-speech-comments"></i><span>25 comments</span></li>
                                </ul>
                                <h4 class="blog-title"><a href="blog-details.html">Green Fashion Store E-Commerce Web Application</a></h4>
                                <p class="blog-desc">
                                    	Online E-Commerce Platform from there everyone get Second Hand branded goods with low cost.
                                </p>
                                <a class="blog-btn" href="blog-details.html"><span>read more</span><i class="icofont-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="blog-card">
                            <div class="blog-media">
                                <a class="blog-img" href="#"><img src="~/content/images/blog/blog img.jpg" alt="blog" /></a>
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><i class="icofont-ui-calendar"></i><span>february 02, 2022</span></li>
                                    <li><i class="icofont-user-alt-3"></i><span>Miron mahmud</span></li>
                                    <li><i class="icofont-speech-comments"></i><span>25 comments</span></li>
                                </ul>
                                <h4 class="blog-title"><a href="blog-details.html">Green Fashion Store E-Commerce Web Application</a></h4>
                                <p class="blog-desc">
                                    The fashion industry is the second largest polluter in the world just after the oil industry. The waste comes from
                                    these industries were dumped directly into the rivers.
                                    Which is extremely harmful to the aquatic life and the health of millions of people living by those rivers. Fashion
                                </p>
                                <a class="blog-btn" href="blog-details.html"><span>read more</span><i class="icofont-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="blog-card">
                            <div class="blog-media">
                                <a class="blog-img" href="#"><img src="~/content/images/blog/03.jpg" alt="blog" /></a>
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><i class="icofont-ui-calendar"></i><span>february 02, 2021</span></li>
                                    <li><i class="icofont-user-alt-3"></i><span>Miron mahmud</span></li>
                                    <li><i class="icofont-speech-comments"></i><span>25 comments</span></li>
                                </ul>
                                <h4 class="blog-title"><a href="blog-details.html">Green Fashion Store E-Commerce Web Application</a></h4>
                                <p class="blog-desc">
                                    1.	Green Fashion will help Customers for getting there desirable things from Lunda bazar just with one
                                    click without wasting the time.
                                </p>
                                <a class="blog-btn" href="blog-details.html"><span>read more</span><i class="icofont-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="blog-card">
                            <div class="blog-media">
                                <a class="blog-img" href="#"><img src="~/content/images/blog/04.jpg" alt="blog" /></a>
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><i class="icofont-ui-calendar"></i><span>february 02, 2021</span></li>
                                    <li><i class="icofont-user-alt-3"></i><span>Miron mahmud</span></li>
                                    <li><i class="icofont-speech-comments"></i><span>25 comments</span></li>
                                </ul>
                                <h4 class="blog-title"><a href="blog-details.html">Green Fashion Store E-Commerce Web Application</a></h4>
                                <p class="blog-desc">
                                    Our platform will provide the Lunda bazar sells man a business hub where they can deliver the goods all over the Pakistan & also 
                                    help everyone to sell their second hand things on Green fashion Store
                                </p>
                                <a class="blog-btn" href="blog-details.html"><span>read more</span><i class="icofont-arrow-right"></i></a>
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-lg-12">
                        <div class="bottom-paginate">
                            <p class="page-info">Showing 12 of 60 Results</p>
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fas fa-long-arrow-alt-left"></i></a>
                                </li>
                                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">...</li>
                                <li class="page-item"><a class="page-link" href="#">60</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-7 col-lg-4">
                <div class="blog-widget">
                    <h3 class="blog-widget-title">Find blogs</h3>
                    <form class="blog-widget-form"><input type="text" placeholder="Search blogs" /><button class="icofont-search-1"></button></form>
                </div>
                <div class="blog-widget">
                    <h3 class="blog-widget-title">popular feeds</h3>
                    <ul class="blog-widget-feed">
                        <li>
                            <a class="blog-widget-media" href="#"><img src="~/content/images/product/01.jpg" alt="blog-widget" /></a>
                            <h6 class="blog-widget-text"><a href="#">Lorem ipsum dolor sit amet consectetur</a><span>february 02, 2021</span></h6>
                        </li>
                        <li>
                            <a class="blog-widget-media" href="#"><img src="~/content/images/product/02.jpg" alt="blog-widget" /></a>
                            <h6 class="blog-widget-text"><a href="#">Lorem ipsum dolor sit amet consectetur</a><span>february 02, 2021</span></h6>
                        </li>
                        <li>
                            <a class="blog-widget-media" href="#"><img src="~/content/images/product/03.jpg" alt="blog-widget" /></a>
                            <h6 class="blog-widget-text"><a href="#">Lorem ipsum dolor sit amet consectetur</a><span>february 02, 2021</span></h6>
                        </li>
                    </ul>
                </div>
                <div class="blog-widget">
                    <h3 class="blog-widget-title">top categories</h3>
                    <ul class="blog-widget-category">
                        <li>
                            <a href="#">Man Fassion <span>22</span></a>
                        </li>
                        <li>
                            <a href="#">Women Fassion <span>14</span></a>
                        </li>
                        <li>
                            <a href="#">Sports <span>35</span></a>
                        </li>
                       
                    </ul>
                </div>
                <div class="blog-widget">
                    <h3 class="blog-widget-title">popular tags</h3>
                    <ul class="blog-widget-tag">
                        <li><a href="#">Shoes</a></li>
                        <li><a href="#">Jacket</a></li>
                        <li><a href="#">Peshawari Chapal</a></li>
                        <li><a href="#">Head Cap</a></li>
                        <li><a href="#">Watch</a></li>
                        <li><a href="#">Smart Watch</a></li>
                        <li><a href="#">grocery</a></li>
                        <li><a href="#">life</a></li>
                        </ul>
                </div>
                <div class="blog-widget">
                    <h3 class="blog-widget-title">follow us</h3>
                    <ul class="blog-widget-social">
                        <li><a href="#" class="icofont-facebook"></a></li>
                        <li><a href="#" class="icofont-twitter"></a></li>
                        <li><a href="#" class="icofont-linkedin"></a></li>
                        <li><a href="#" class="icofont-pinterest"></a></li>
                        <li><a href="#" class="icofont-instagram"></a></li>
                    </ul>
                </div>
                <div class="blog-widget">
                    <a href="#"><img class="img-fluid" src="~/content/images/product/07.jpg" alt="promo" /></a>
                </div>
            </div>
        </div>
    </div>
</section>